__pycache__/
*.py[cod]
.env
.venv
logs/
**.log
node_modules/
merged_output/
dist/
.vscode/
.pre-commit-config.yaml
eslint.config.js
requirements.in
.env.local
alembic/
alembic.ini
build/
medoc_terminate_session.py
front/start.bat
