# --- Development Tools & Linters ---
pydantic-to-typescript>=2.0.0
black # Для форматування коду
isort # Для сортування імпортів

# --- Testing ---
# pytest
# pytest-asyncio
# httpx # Для тестування API